[submodule "caladan-overload-control"]
	path = caladan-overload-control
	url = https://github.com/estuhr1206/caladan-overload-control.git
[submodule "silo"]
	path = silo
	url = https://github.com/shenango/silo.git
[submodule "memcached"]
	path = memcached
	url = https://github.com/estuhr1206/memcached.git
